pipeline/AQ_piepline.json
{
	"name": "AQ_piepline",
	"properties": {
		"activities": [
			{
				"name": "extract api data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('cities')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get api data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_airQuality_api_data",
									"type": "DatasetReference",
									"parameters": {
										"URL_path": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"token": "?token=240d2b420f4746e98e44655f7ceb7c2e738cd219"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_airQualityData_json",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "AQ data processing",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "extract api data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ibrahimi-badr@hotmail.com/Air quality data processing"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyToSQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get File list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_processed_airQuality_csv",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "@activity('Get File list').output.childItems[3].name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "airQualityTable_sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get File list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "AQ data processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "get_AQ_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"cities": {
				"type": "Array",
				"defaultValue": [
					"Toronto",
					"Vancouver"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-13T21:13:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}