pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "extract data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('cities')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get api data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_api_data",
									"type": "DatasetReference",
									"parameters": {
										"URL_path": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"token": "?token=240d2b420f4746e98e44655f7ceb7c2e738cd219"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "extract data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ibrahimi-badr@hotmail.com/Air quality data processing"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"cities": {
				"type": "Array",
				"defaultValue": [
					"Toronto",
					"Vancouver",
					"Montreal",
					"Ottawa",
					"Calgary",
					"Edmonton",
					"Quebec City",
					"Halifax",
					"Winnipeg",
					"Victoria",
					"Seattle",
					"New York",
					"Los Angeles",
					"Chicago",
					"San Francisco",
					"Miami",
					"Las Vegas",
					"Boston",
					"London",
					"Paris",
					"Berlin",
					"Madrid",
					"Rome",
					"Amsterdam",
					"Vienna",
					"Prague",
					"Dublin",
					"Barcelona",
					"Stockholm",
					"Copenhagen"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-13T21:13:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}