pipeline/weather_pipeline.json
{
	"name": "weather_pipeline",
	"properties": {
		"activities": [
			{
				"name": "extract api data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('cities')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy api data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_weatherAPI",
									"type": "DatasetReference",
									"parameters": {
										"location": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"date": {
											"value": "@concat('/',formatDateTime(utcnow(), 'yyyy-MM-dd'), '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"apiKey": "?unitGroup=metric&key=W6EB6VYPKBKX3KKJ2HZF94K2V&contentType=json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_weatherData_json",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"file_type": ".json"
									}
								}
							]
						},
						{
							"name": "weather processing",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy api data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ibrahimi-badr@hotmail.com/weather data processing"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy weather Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "weather processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_processed_weather_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "weatherTable_sql",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"cities": {
				"type": "Array",
				"defaultValue": [
					"Toronto",
					"Vancouver",
					"Montreal",
					"Ottawa",
					"Calgary",
					"Edmonton",
					"Quebec City",
					"Halifax",
					"Winnipeg",
					"Victoria",
					"Seattle",
					"New York",
					"Los Angeles",
					"Chicago",
					"San Francisco",
					"Miami",
					"Las Vegas",
					"Boston",
					"London",
					"Paris",
					"Berlin",
					"Madrid",
					"Rome",
					"Amsterdam",
					"Vienna",
					"Prague",
					"Dublin",
					"Barcelona",
					"Stockholm",
					"Copenhagen"
				]
			}
		},
		"annotations": []
	}
}